//Font Imports
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

//variables
$logoFont: "Luckiest Guy", cursive;
$secondaryFont: "Raleway", sans-serif;

/*******TO DO LIST ***************
Fix Home Page Styling
**********************************/

//Global styles
.logoStyle {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3rem;
    color: white;
}

a {

    text-decoration: none;
}

body {
    background-color: black;
}


//Header Component
.navbarStyle {
    background-color: black;
}

.navbarStyle{
     
    .navbar-collapse {
    justify-content: end;
    color: white;
    padding-right: 3rem;
    }
    .nav-item {
        font-family: $secondaryFont;
        color: white;
        font-size: 1.5rem;
        a {
            color: white;
        }
        
    }
    .navbar-brand {
        margin: auto;
    }
    span {
        color: white;
        font-size: 1.5rem;
    }
}



//Home Video Component


.myMovie {
    position: fixed; 
    top: 0; 
    left: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

.myImg {
    position: absolute;
    background-size: cover;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;

}

.rowText1 {
    
    font-family: $secondaryFont;
    font-size: 4rem;
    color: white;
    height: 100%;
    width: 100%;
    background-color: black;
}

.rowText2 {
   
    font-family: $secondaryFont;
    font-size: 4rem;
    color: white;
    height: 100%;
    width: 100%;
    background-color: black;
    text-align: right;
}




//Footer

.site-footer {
    height: 550px;
    width: 100%;
    background-color: black;
    color: white;
    .row {
        height: 33%;
    }
    .socialLinks {
        color: white;
    }
    li {
        display: inline;
    }
    p {
        font-size: 2rem;
        font-family: $secondaryFont; 
    }
    address, section {
        font-size: 3rem;
        font-family: $secondaryFont;
    }

    .termsStuff {
        font-size: 2rem;
    }
}





//gallery
.galleryCardStyle {
    clear: both;
    img {
    height: 30rem;
    width: 100%;
    }
    
}

.galleryContainerStyles {
    background-color: black;
    height: 100%;
    .breadcrumb-item > a {
        color: white;
    }
    
    .row {
        text-align: center;
        margin: auto;
    }

    h1, h2 {
        color: white;
        font-family: $secondaryFont;   
    }
    a {
        color: black;
        font-weight: bold;
    }
}

//Movie Detail

.movieDetailStyles {
    background-color: black;
    color: white;
    .media-left {
        width: 100%;
    }
    img {
        height: 35rem;
        
    }

    .media-body {
        width: 100%;
    }

    table {
        width: 50%;
        justify-content: center;
        color: white;
        tr > td:first-child {
            font-weight: bold;
        }
    }

    i {
        color: white;
    }

}

//Video Player

.videoPlayerStyles {
    background-color: black;
    font-family: $secondaryFont;
    video {
        width: 100%;
        height: 100vh;
    }

    h1 {
        text-align: center;
        color: white;
    }
}