@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/*******TO DO LIST ***************
Fix Home Page Styling
**********************************/
.logoStyle {
  font-family: 'Luckiest Guy', cursive;
  font-size: 3rem;
  color: white;
  padding-left: 2rem;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
}

.navbarStyle {
  background-color: black;
}

.dropdown {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 2rem;
}

.dropdown > button {
  background-color: transparent;
}

.myMovie {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}

.myImg {
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
}

.rowText1 {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  color: white;
  height: 100%;
  width: 100%;
  background-color: black;
}

.rowText2 {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  color: white;
  height: 100%;
  width: 100%;
  background-color: black;
  text-align: right;
}

.site-footer {
  height: 550px;
  width: 100%;
  color: white;
}

.site-footer .row {
  height: 33%;
}

.site-footer .socialLinks {
  color: white;
}

.site-footer li {
  display: inline;
}

.site-footer p {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}

.site-footer address, .site-footer section {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
}

.site-footer .termsStuff {
  font-size: 2rem;
}

.galleryCardStyle {
  clear: both;
}

.galleryCardStyle img {
  height: 30rem;
  width: 100%;
}

.galleryContainerStyles {
  height: 100%;
}

.galleryContainerStyles .breadcrumb-item > a {
  color: white;
}

.galleryContainerStyles .row {
  text-align: center;
  margin: auto;
}

.galleryContainerStyles h1, .galleryContainerStyles h2 {
  color: white;
  font-family: "Raleway", sans-serif;
}

.galleryContainerStyles a {
  color: black;
  font-weight: bold;
}

.carouselImg {
  height: 375px;
  width: 90%;
}

.movieDetailStyles {
  background-color: black;
  color: white;
  font-family: "Raleway", sans-serif;
  height: 100%;
}

.movieDetailStyles .media-left {
  width: 100%;
}

.movieDetailStyles img {
  height: 35rem;
}

.movieDetailStyles .media-body {
  width: 100%;
}

.movieDetailStyles table {
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.movieDetailStyles table tr > td:first-child {
  font-weight: bold;
}

.movieDetailStyles i {
  color: white;
}

.videoPlayerStyles {
  background-color: black;
  font-family: "Raleway", sans-serif;
}

.videoPlayerStyles video {
  width: 100%;
  height: 100vh;
}

.videoPlayerStyles h1 {
  text-align: center;
  color: white;
}

.commentRender {
  color: white;
}

.commentRender .commentAvatar {
  height: 50%;
}

.eventsContainer {
  font-size: 36px;
}

.eventsContainer .breadcrumb-item > a {
  color: white;
}

.eventsContainer .breadcrumb {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
}

.eventsContainer .eventTitle {
  color: "#fff";
}

.head {
  color: "white";
}

.cardContainer {
  font-family: "Raleway", sans-serif;
}

.cardContainer > .card-body {
  margin: auto;
  text-align: "center";
  font-weight: "bold";
}

.cardContainer > .card-body > .card-text {
  margin: auto;
  text-align: "center";
  font-weight: "bold";
}

.eventDetailContainer #overTitle {
  color: "black";
  font-size: "72px";
  -webkit-transform: translateY(-100);
          transform: translateY(-100);
  margin: auto;
}

.registerModalHeader {
  background-color: black;
  color: white;
}

.watchlistContainer > .row > .col-12 {
  color: white;
  font-family: "Raleway";
}
/*# sourceMappingURL=styles.css.map */