//Font Imports
// @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

//variables
$logoFont: "Luckiest Guy", cursive;
$secondaryFont: "Raleway", sans-serif;

/*******TO DO LIST ***************
Fix Home Page Styling
**********************************/

//Global styles
.logoStyle {
    font-family: $logoFont;
    font-size: 3rem;
}

a {
    color: white;
    text-decoration: none;
}


//Header Component
.navbarStyle {
    background-color: black;
}

.navbarStyle{
     
    .navbar-collapse {
    justify-content: end;
    color: white;
    padding-right: 3rem;
    }
    a {
        font-family: $secondaryFont;
        color: white;
        font-size: 1.5rem;
    }
    .navbar-brand {
        margin: auto;
    }
}



//Home Video Component


.myMovie {
    position: fixed; 
    top: 0; 
    left: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

.myImg {
    position: absolute;
    background-size: cover;
    height: 100%;
    width: 100%;
    left: 0;

}

.rowText1 {
    font-family: $secondaryFont;
    font-size: 4rem;
    color: white;
    height: 100%;
    width: 100%;
    background-color: black;
}

.rowText2 {
   
    font-family: $secondaryFont;
    font-size: 4rem;
    color: white;
    height: 100%;
    width: 100%;
    background-color: black;
    text-align: right;
}




//Footer

.site-footer {
    position:absolute;
    left: 0;
    right: 0;
    width: 100%;
    background-color: black;
    color: white;
    .socialLinks {
        color: white;
    }
    li {
        display: inline;
    }
}





//gallery
.galleryCardStyle {
    clear: both;
    img {
    height: 30rem;
    width: 100%;
    }
}

.galleryContainerStyles {
    background-color: black;
    height: 100%;
    
    .row {
        text-align: center;
        margin: auto;
    }

    h1, h2 {
        color: white;
        font-family: $secondaryFont;   
    }
}